Source: hello
Maintainer: Emmanuel Bastien <os@ebastien.name>
Standards-Version: 3.9.2
Build-Depends: debhelper
Section: misc
Priority: optional

Package: hello
Architecture: all
Description: Binary placeholder
 This is an empty package.
Depends: ${misc:Depends}
